<div>
  <h1>User page</h1>
  <p>
    {{ user.message }}
  </p>

  <!-- <button lx-button>dsfsdfsdf</button> -->
<!-- <button ng-transclude lx-ripple lx-type="raised"> </button> -->


<!-- <button lx-type="raised" class="btn--primary btn--raised btn btn--m" style="position: relative; overflow: hidden;"><span class="ng-scope">Button</span></button> -->

<div class="p+">
    <lx-button lx-type="raised">Button</lx-button>
    <lx-button lx-type="flat">Button</lx-button>
    <lx-button lx-type="fab"><i class="mdi mdi-plus"></i></lx-button>
    <lx-button lx-type="icon"><i class="mdi mdi-plus"></i></lx-button>
</div>
</div>
