<div>
  <h1>User page</h1>
  <p>
    {{ user.message }}
  </p>

  <!-- <button lx-button>dsfsdfsdf</button> -->
<!-- <button ng-transclude lx-ripple lx-type="raised"> </button> -->


<!-- <button lx-type="raised" class="btn--primary btn--raised btn btn--m" style="position: relative; overflow: hidden;"><span class="ng-scope">Button</span></button> -->

<div class="p+">
    <lx-button lx-type="raised">Button</lx-button>
    <lx-button lx-type="flat">Button</lx-button>
    <lx-button lx-type="fab"><i class="mdi mdi-plus"></i></lx-button>
    <lx-button lx-type="icon"><i class="mdi mdi-plus"></i></lx-button>
</div>


<div flex-item="6" class="mt++">
      <span class="fs-title display-block mb">Avatar with text and icon</span>

      <div class="divider divider--dark"></div>

      <ul class="list mt++">
          <li class="list-row list-row--has-separator" ng-repeat="item in user.users">


              <div class="list-row__content">
                  <span>{{ item.name }}</span>
              </div>

              <div class="list-row__secondary">
                  <lx-icon lx-id="information" lx-size="xs" lx-color="grey" lx-type="flat"></lx-icon>
                  <button type="button" ng-click="getUser(item._id)">
                    Detalles
                  </button>
              </div>
          </li>

      </ul>
  </div>

  <div>
    <div>Id: {{ user.currentUser._id }}</div>
    Name: <input type="text" name="name" ng-model="user.currentUser.name"><br>
    Username: <input type="text" name="username" ng-model="user.currentUser.username"><br>
    <!-- <div>Username: {{ user.currentUser.username }}</div> -->
    <button type="button" ng-click="updateUser(user.currentUser)">
      Actualizar
    </button>
  </div>

<br>
<br>

  Name: <input type="text" name="name" ng-model="newuser.name"><br>
  Username: <input type="text" name="username" ng-model="newuser.username"><br>
  Password: <input type="text" name="password" ng-model="newuser.password"><br>

  <button type="button" ng-click="createUser(newuser)">
    Guardar
  </button>
</div>
