.squares{
  background-color: #ACEACE;
  border: 1px solid #ccc;
}


.squares div {
  width: 200px;
  height: 200px;
  border: 1px solid salmon;
  float: left;
}

.ng101{
  overflow: scroll;
}
.theClock{
  clear: both;
  margin-top: 100px;
}
